nav {
  background: white;
  border-bottom: 1px solid var(--stroke);
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

#logo {
  width: 35px;
  height: 35px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 0.7rem;
  color: var(--text);
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu a {
  text-decoration: none;
  color: var(--brand);
  font-weight: 300;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.menu a:hover {
  opacity: 0.8;
}

.menu a.active {
  opacity: 1;
}

.menu a span svg {
  width: 14px;
  height: 14px;
  fill: var(--brand);
  transition: opacity 0.2s ease;
}

.menu a:not(.active) span svg {
  opacity: 0.5;
}

.menu a.active span svg {
  opacity: 1;
}

.flag {
  width: 20px;
  height: 13px;
}

/* responsive */
@media (max-width: 640px) {
  .menu {
    display: none;
  }
}
