:host {
  display: block;
  padding: 1.5rem 3rem 0 3rem;
  box-shadow: none !important;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  height: 2.5rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--brand);
  margin-top: -2px;
}
